%background-transition {
  -webkit-transition: background 333ms ease-out;
  -moz-transition: background 333ms ease-out;
  -ms-transition: background 333ms ease-out;
  -o-transition: background 333ms ease-out;
  transition: background 333ms ease-out;
}
