@import './src/scss/settings/buttons';
@import './src/scss/tools/mixin-media-queries';

%button-size {
  min-height: $btn-min-height;
  min-width: $btn-min-width;

  @include tablet {
    min-height: auto;
    min-width: auto;
  }
}
